.btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px 8px 16px;
    justify-content: center;
    min-height: 40px;
    gap: 8px;
    border-radius: 8px;
    background: none;
    box-shadow: none;
    border: 1px solid;
    border: none;
    cursor: pointer;
    transition: 0.4s;

    &.primary {
        background: $button-default;
        box-shadow: 0 0 0 1px rgba(60, 60, 60, 0.5);
    }

    &:hover {
        background: $button-hover;
    }

    &.rounded {
        border-radius: 1000px;
    }
}