.text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    height: 60px;
    flex: none;
    order: 3;
    flex-grow: 0;

    label {
        font-size: 12px;
        font-family: Lexend Deca;
        color: $text-secondary;
    }

    input {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 12px;
        gap: 8px;
        height: 40px;
        background: $grey-80;
        border: 1px solid $grey-60;
        border-radius: 8px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        font-size: 14px;
        font-family: Lexend Deca;
        color: $text-primary;
        transition: 0.3s;

        &:hover {
            border: 1px solid $grey-30;
        }

        &:focus {
            background: $grey-60;
            border: 1px solid $grey-10;
            outline: none;
        }

        &::placeholder {
            color: $text-disabled;
        }
    }
}